<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--<configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <location path="." allowOverride="false" inheritInChildApplications="true">
    <nlog configSource="NLog.config" />
  </location>-->
</configuration>